{% extends 'base.html.twig' %}

{% block title %}Mon compte! - La boutique des moucheurs{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mon compte</h1>
    <div>
        <span>Bienvenue dans votre compte  {{ app.user.firstname }} </br>. C'est ici que vous pouvez gérer toutes vos informations personnelles.</span>
    </div>
    </br>
    <hr>
    <a href="{{ path('account_password') }}"><i class="fa-sharp fa-solid fa-arrow-right"> Modifier mon mot de passe</i></a></br>
    - Ajouter mes adresses</br>
    -Mes commandes</br>
    <hr>
</div>
{% endblock %}
