{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Register! - La boutique des moucheurs{% endblock %}


{% block content %}
    <h1 class="text-center mt-5">Inscription</h1>
    {{ form(form) }}
{% endblock %}
